.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-fill {
  cursor: pointer;
  font-size: 17px;
  line-height: 25px;
  font-weight: 500;
  transition: 0.3s;
  outline: none;
  background-color: var(--blue-button);
  border: 1px solid var(--blue-button);
}

.button-empty {
  cursor: pointer;
  font-size: 17px;
  font-weight: 500;
  transition: 0.3s;
  background: var(--black);
  border: 1px solid var(--white);
  outline: none;
  line-height: 25px;
}

h2 {
  font-size: 52px;
  font-weight: 400;
}

p {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
}

.little-p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

ul {
  list-style: none;
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
}

ul li a {
  font-size: 16px;
  line-height: 24px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  text-decoration: none;
}

ul li a:hover {
  color: wheat;
}