.flex {
  align-items: center;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  justify-content: center;
}

button {
  cursor: pointer;
  font-size: 1.0625rem;
  font-weight: 500;
  line-height: 1.5625rem;
  outline: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.button-fill:active {
  color: #cccccc;
  border: 1px solid #cccccc !important;
}

.button-empty:active {
  background-color: #5f6bfd !important;
}

.button-fill {
  background-color: var(--blue-button);
  border: 1px solid var(--blue-button);
}

.button-empty {
  background: var(--dark-background);
  border: 1px solid var(--white);
}

h1 {
  font-size: 5rem;
  line-height: 5.5rem;
}

h2 {
  font-size: 3.25rem;
  font-weight: 400;
  line-height: 3.875rem;
}

p,
h3 {
  font-size: 1.25rem;
  line-height: 1.875rem;
}

h1,
h2,
h3,
p {
  text-align: center;
}

p,
.little-p {
  font-weight: 400;
}

h1,
h3 {
  font-weight: 500;
}

.little-p {
  font-size: 1rem;
  line-height: 1.5rem;
}

ul {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.875rem;
  list-style: none;
}

ul li a {
  cursor: pointer;
  font-size: 1rem;
  line-height: 1.5rem;
  text-decoration: none;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

ul li a:hover {
  color: blanchedalmond;
}

.animation-left {
  opacity: 0;
  -webkit-transform: translateX(-100px);
  -ms-transform: translateX(-100px);
  transform: translateX(-100px);
  -webkit-transition: 1.5s ease-in-out;
  -o-transition: 1.5s ease-in-out;
  transition: 1.5s ease-in-out;
}

.animation-right {
  opacity: 0;
  -webkit-transform: translateX(100px);
  -ms-transform: translateX(100px);
  transform: translateX(100px);
  -webkit-transition: 1.5s ease-in-out;
  -o-transition: 1.5s ease-in-out;
  transition: 1.5s ease-in-out;
}

.animation-bottom {
  opacity: 0;
  -webkit-transform: translateY(150px);
  -ms-transform: translateY(150px);
  transform: translateY(150px);
  -webkit-transition: 1.5s ease-in-out;
  -o-transition: 1.5s ease-in-out;
  transition: 1.5s ease-in-out;
}

.animation-top {
  opacity: 0;
  -webkit-transform: translateY(-100px);
  -ms-transform: translateY(-100px);
  transform: translateY(-100px);
  -webkit-transition: 1.5s ease-in-out;
  -o-transition: 1.5s ease-in-out;
  transition: 1.5s ease-in-out;
}
