.flex {
  align-items: center;
  display: flex;
  justify-content: center;
}

button {
  cursor: pointer;
  font-size: 17px;
  font-weight: 500;
  line-height: 25px;
  outline: none;
  transition: 0.3s;
}

.button-fill {
  background-color: var(--blue-button);
  border: 1px solid var(--blue-button);
}

.button-empty {
  background: var(--dark-background);
  border: 1px solid var(--white);
}

h1 {
  font-size: 80px;
  line-height: 88px;
}

h2 {
  font-size: 52px;
  font-weight: 400;
  line-height: 62px;
}

p,
h3 {
  font-size: 20px;
  line-height: 30px;
}

h1,
h2,
h3,
p {
  text-align: center;
}

p,
.little-p {
  font-weight: 400;
}

h1,
h3 {
  font-weight: 500;
}

.little-p {
  font-size: 16px;
  line-height: 24px;
}

ul {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  list-style: none;
}

ul li a {
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

ul li a:hover {
  color: wheat;
}

.animation-left {
  opacity: 0;
  transition: 1.5s ease-in-out;
  transform: translateX(-100px);
}

.animation-right {
  opacity: 0;
  transition: 1.5s ease-in-out;
  transform: translateX(100px);
}

.animation-bottom {
  opacity: 0;
  transition: 1.5s ease-in-out;
  transform: translateY(150px);
}

.animation-top {
  opacity: 0;
  transition: 1.5s ease-in-out;
  transform: translateY(-100px);
}
