.contents {
  margin: 0 auto;
  max-width: 1400px;
}

.contents-wrapper {
  flex-direction: column;
  padding: 50px;
}

.contents-text {
  flex-direction: column;
  text-align: center;
  width: 45%;
}

.card {
  align-items: center;
  background-color: var(--white);
  border: 1px solid var(--card-border);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 40px;
  width: 40%;
}

.contents-wrapper .card h3 {
  color: var(--black);
  text-align: center;
}

.card p {
  color: var(--light-grey);
  padding: 45px 0;
  width: 60%;
}

.card button {
  padding: 13.5px 46px;
}

.card button:hover {
  background: none;
  border: 1px solid var(--black);
  color: var(--black);
}
.card:first-child button {
  margin-bottom: 45px;
  margin-top: 35px;
}

.card:last-child button {
  margin-bottom: 30px;
}

.contents-text.visible,
.card.visible {
  opacity: 1;
  transform: translateX(0px);
}
