.contents {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 50px;
  max-width: 1400px;
  margin: 0 auto;
}

.contents-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contents-text {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 30%;
}

.contents-text h1 {
  font-size: 52px;
  font-weight: 400;
}

.contents-text p {
  color: white;
  line-height: 30px;
}

.contents-card {
  align-items: center;
  display: flex;
  justify-content: center;
}

.card {
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 620px;
  justify-content: space-between;
  margin: 20px;
  padding: 40px;
  width: 476px;
}

.card h3,
p {
  color: black;
}

.card p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  width: 55%;
}

.card button {
  background-color: #4452fe;
  border: 1px solid #4452fe;
  font-size: 17px;
  font-weight: 500;
  padding: 13.5px 46px;
  transition: 0.3s;
}

.card button:hover {
  background: none;
  border: 1px solid black;
  color: black;
}
.card:first-child button {
  margin-top: 35px;
}
