.contents {
  max-width: 1400px;
  margin: 0 auto;
}

.contents-wrapper {
  padding: 50px;
  flex-direction: column;
}

.contents-text {
  flex-direction: column;
  text-align: center;
  width: 45%;
}

.contents-text h1 {
  font-size: 52px;
  font-weight: 400;
}

.contents-text p {
  color: var(--white);
  line-height: 30px;
  font-weight: 400;
  font-size: 20px;
}

.card {
  align-items: center;
  background-color: var(--white);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 40px;
  width: 40%;
}

.contents .card h3,
p {
  color: black;
  text-align: center;
}

.card p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  width: 60%;
  padding: 45px 0;
}

.card button {
  padding: 13.5px 46px;
}

.card button:hover {
  background: none;
  border: 1px solid var(--black);
  color: var(--black);
}
.card:first-child button {
  margin-top: 35px;
  margin-bottom: 45px;
}

.card:last-child button {
  margin-bottom: 30px;
}
