.features {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 60px auto;
  max-width: 1400px;
}

.features-wrapper {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.features-text {
  align-items: center;
  display: flex;
  flex-direction: column;
  line-height: 30px;
  margin-bottom: 80px;
  text-align: center;
  width: 35%;
}

.features-text p {
  color: white;
}

.features-text h1 {
  font-size: 52px;
  font-weight: 400;
}

.images-article {
  align-items: center;
  display: flex;
  justify-content: center;
}

.images-article img {
  width: 40vw;
}

.images-article ul {
  height: 650px;
  width: 310px;
}

.control-panel-text ul {
  display: flex;
  flex-direction: column;
}

.control-panel-text ul li p {
  color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.icon-title {
  align-items: center;
  display: flex;
}

h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  margin: 10px;
}
