.features {
  margin: 60px auto;
  max-width: 1400px;
}

.features-wrapper {
  width: 100%;
  flex-direction: column;
}

.features-text {
  flex-direction: column;
  line-height: 30px;
  margin-bottom: 80px;
  text-align: center;
  width: 45%;
}


.features-image {
  width: 70%;
}

.control-panel-text ul {
  width: 50%;
  display: flex;
  flex-direction: column;
  list-style: none;
}

.control-panel-text ul li p {
  text-align: left;
  color: var(--white);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.icon-title {
  align-items: center;
  display: flex;
}

h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  margin: 10px;
}
