@font-face {
  font-display: swap;
  font-family: Graphik;
  font-weight: 500;
  src: url(../fonts/Graphik-Medium.ttf);
}

@font-face {
  font-display: swap;
  font-family: Graphik;
  font-weight: 400;
  src: url(../fonts/Graphik-Regular.ttf);
}

@font-face {
  font-display: swap;
  font-family: Graphik;
  font-weight: 800;
  src: url(../fonts/Graphik-Bold.ttf);
}
