footer {
  margin: 0 auto;
  max-width: 1400px;
  padding: 107px 0;
}

.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 100%;
}
.about-site {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-site ul li {
  margin-bottom: 19px;
}

.about-site ul li a:hover {
  text-decoration: underline;
}

.about-site ul li:first-child {
  margin-top: 40px;
}

.site-connection {
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}

.adress,
.mobile,
.social-networks {
  align-items: center;
  -webkit-box-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  margin: 10px;
}

.social-networks a {
  cursor: pointer;
  margin: 10px 24px 10px 0;
}

.adress p,
.mobile p {
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 10px;
  text-align: left;
}

.mobile img {
  padding: 4.5px;
}
.about-site.visible,
.site-connection.visible {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px);
}
