footer {
  max-width: 1400px;
  margin: 0 auto;
  padding: 107px 0;
}

.footer-wrapper {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.about-site {
  display: flex;
}

.about-site ul li {
  margin-bottom: 19px;
}

.about-site ul li:first-child {
  margin-top: 40px;
}

.site-connection {
  display: flex;
  flex-direction: column;
}

.adress,
.mobile,
.social-networks {
  align-items: center;
  display: flex;
  margin: 10px;
}

.social-networks a {
  margin: 10px 24px 10px 0;
  cursor: pointer;
}

.adress p,
.mobile p {
  padding: 10px;
  font-size: 16px;
  line-height: 24px;
}

.mobile img {
  padding: 4.5px;
}
