.gallery {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 100px 0;
  padding: 50px;
}

.gallery-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 1400px;
}

.gallery-text {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.gallery-text h1 {
  font-weight: 400;
  margin: 0;
}

.gallery-text p {
  color: white;
  font-weight: 400;
  line-height: 30px;
}

.gallery-photo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 40px auto;
}

.gallery-photo img {
  border-radius: 20px;
  padding: 10px;
}

.gallery button {
  background: none;
  border: 1px solid white;
  font-size: 17px;
  font-weight: 500;
  height: 65px;
  outline: none;
  transition: 0.3s;
  width: 178px;
}

.gallery button:hover {
  background-color: #4452fe;
  border: none;
}
