.gallery {
  margin: 100px auto;
  max-width: 1400px;
}

.gallery-wrapper {
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
}

.gallery-text {
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.gallery-text p {
  margin-bottom: 0;
  margin-top: 0;
}

.gallery-photo {
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 40px auto;
}

.gallery-photo img {
  border-radius: 20px;
  padding: 10px;
}

.gallery button {
  padding: 13.5px 40px;
}

.gallery button:hover {
  background-color: var(--blue-button);
  border: 1px solid var(--blue-button);
}

.third-row {
  display: none;
}

.gallery-text.visible,
.first-row.visible,
.second-row.visible,
.third-row.visible {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px);
}
