nav {
  align-items: center;
  background-color: var(--dark-background);
  -webkit-box-align: center;
  -webkit-box-pack: space-evenly;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  padding: 10px 0;
  z-index: 1;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav ul li {
  padding: 0 30px;
}

nav button {
  padding: 13.5px 46px;
}

nav button:hover,
.header-button button:hover,
.header-text-button button:last-child:hover {
  background-color: var(--blue-button);
  border: 1px solid var(--blue-button);
}
nav.active {
  -webkit-animation: scrollAnimation 0.5s linear;
  animation: scrollAnimation 0.5s linear;
  -webkit-box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
  position: fixed;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  width: 100%;
}

.hamburger-menu {
  align-items: flex-end;
  -webkit-box-align: end;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  display: none;
  -ms-flex-align: end;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  height: 50px;
  justify-content: space-around;
  width: 50px;
}

.hamburger-line:first-child,
.hamburger-line:nth-child(2),
.hamburger-line:last-child {
  background-color: var(--white);
  height: 10%;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  width: 100%;
}
.hamburger-line:first-child {
  width: 100%;
}

.hamburger-line:nth-child(2) {
  width: 70%;
}

.hamburger-line:last-child {
  width: 30%;
}

.hamburger-rotate .hamburger-line:first-child {
  -webkit-transform: rotate(-45deg) translate(-15px, 15px);
  -ms-transform: rotate(-45deg) translate(-15px, 15px);
  transform: rotate(-45deg) translate(-15px, 15px);
}

.hamburger-rotate .hamburger-line:nth-child(2) {
  opacity: 0;
}

.hamburger-rotate .hamburger-line:last-child {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  -ms-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
  width: 100%;
}

@-webkit-keyframes scrollAnimation {
  0% {
    -webkit-transform: translateY(-150px);
    transform: translateY(-150px);
  }
  50% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes scrollAnimation {
  0% {
    -webkit-transform: translateY(-150px);
    transform: translateY(-150px);
  }
  50% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
