.opentype {
  align-items: center;
  display: flex;
  justify-content: center;
  max-width: 1400px;
  margin: 80px auto;
}

.opentype-wrapper {
  align-items: center;
  background-color: #343434;
  border-radius: 33px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 90%;
}

.opentype-text-and-button {
  padding: 0 86px;
}

.opentype-text-and-button h1 {
  font-size: 52px;
  font-weight: 400;
}

.opentype-text-and-button button {
  background-color: #4452fe;
  border: 1px solid #4452fe;
  font-size: 17px;
  font-weight: 500;
  padding: 13.5px 67px;
  transition: 0.3s;
}

.opentype-text-and-button button:hover {
  background: none;
  border: 1px solid white;
}

.opentype-image {
  width: 50%;
}
