.opentype {
  background-color: #343434;
  border-radius: 33px;
  display: flex;
  margin: 100px auto;
  overflow: hidden;
  width: 65%;
}

.opentype-text-and-button {
  padding: 0 86px;
}

.opentype-text-and-button h1 {
  font-size: 52px;
  font-weight: 400;
}

.opentype-text-and-button button {
  background-color: #4452fe;
  border: none;
  font-size: 17px;
  font-weight: 500;
  padding: 13.5px 67px;
  transition: 0.3s;
}

.opentype-text-and-button button:hover {
  background: none;
  border: 1px solid white;
}
