.partners {
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 80px auto;
  max-width: 1400px;
}

.partners-wrapper {
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 50px;
}

.partners-text {
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.partners-text p {
  margin: 0;
}

.partners-logos {
  align-items: center;
  -webkit-box-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin: 50px 0;
  width: 150%;
}

.logos-first-row,
.logos-second-row {
  align-items: center;
  -webkit-box-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 100%;
}

.ibm-logo {
  align-items: flex-start;
  -webkit-box-align: start;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
}

.ibm-logo img {
  width: 100%;
}

.partners button {
  padding: 13.5px 40px;
}

.partners button:hover {
  background-color: var(--blue-button);
  border: 1px solid var(--blue-button);
}

.partners-text.visible,
.partners-logos.visible {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px);
}
