.partners {
  align-items: center;
  display: flex;
  justify-content: center;
  max-width: 1400px;
  margin: 80px auto;
  flex-direction: column;
}

.partners-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
}

.partners-text {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.partners-text h1 {
  font-size: 52px;
  font-weight: 400;
  margin: 0;
}

.partners-text p {
  color: white;
  font-weight: 400;
  line-height: 30px;
}

.partners-logos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 50px 0;
  width: 150%;
}

.logos-first-row {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}

.logos-second-row {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}

.ibm-logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.ibm-logo img {
  width: 100%;
}

.partners button {
  background: none;
  border: 1px solid white;
  font-size: 17px;
  font-weight: 500;
  height: 65px;
  outline: none;
  transition: 0.3s;
  width: 178px;
}

.partners button:hover {
  background-color: #4452fe;
  border: none;
}
