.partners {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  margin: 100px 0;
}

.partners-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 32%;
  text-align: center;
}

.partners-text h1 {
  margin: 0;
  font-weight: 400;
}

.partners-text p {
  color: white;
  line-height: 30px;
  font-weight: 400;
}

.partners-logos {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin: 50px 0;
}

.partners button {
  width: 178px;
  height: 65px;
  outline: none;
  font-size: 17px;
  font-weight: 500;
  background: none;
  border: 1px solid white;
}
