@media only screen and (max-width: 1024px) {
  nav .hamburger-menu,
  .gallery-photo,
  .third-row {
    display: flex;
  }
  nav ul {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 103px);
    justify-content: center;
    left: -70%;
    position: fixed;
    top: 8%;
    transition: all 1s ease-in-out;
    width: 100%;
    z-index: 1;
  }

  nav ul li {
    font-size: 25px;
    margin: 20px;
  }

  .slide-out {
    background-color: var(--black);
    left: 0%;
  }

  nav button {
    padding: 13.5px 46px;
  }
  .header-button,
  .images-article,
  .contents-card,
  .testimonials-article,
  .partners .partners-logos,
  .opentype-wrapper,
  .footer-wrapper,
  .gallery-photo,
  .third-row {
    flex-direction: column;
  }
  .header-button button:last-child {
    margin: 35px 0 0 0;
  }
  .header-text-and-button {
    width: 62%;
  }

  .header-text-and-button h1 {
    font-size: 52px;
    font-weight: 400;
    line-height: 62px;
  }

  .graphic-image {
    height: 55vh;
  }

  .images-article {
    justify-content: center;
    align-items: center;
  }

  .control-panel-text {
    width: 49%;
  }
  .control-panel-text ul {
    padding: 0;
  }

  .contents-text {
    width: 60%;
  }

  .card {
    width: 100%;
  }

  .first-row,
  .second-row,
  .testimonials .first-column,
  .second-column {
    display: none;
  }

  .testimonials .third-column {
    display: block;
  }
  .testimonials .third-column,
  .article-card {
    height: 100%;
    width: 100%;
  }

  .partners .partners-logos {
    width: 70%;
  }

  .partners .logos-first-row {
    margin-bottom: 50px;
  }
  .ibm-logo img {
    width: 100px;
  }

  .features-image img {
    width: 100%;
  }

  .features-text {
    width: 52%;
  }
  .opentype-wrapper {
    border-radius: 0;
    width: 100%;
  }

  .opentype-text-and-button h2 {
    text-align: center;
  }
  .opentype-text-and-button {
    padding: 86px;
    text-align: center;
    width: 75%;
  }

  .footer-wrapper {
    align-items: center;
  }
}

@media only screen and (max-width: 750px) {
  .control-panel-text {
    width: 65%;
  }
}

@media only screen and (max-width: 600px) {
  nav button {
    padding: 13.5px 46px;
  }

  .hamburger-menu {
    height: 27px;
    width: 44px;
  }

  .hamburger-line:nth-child(2) {
    width: 75%;
  }
  .hamburger-line:last-child {
    width: 50%;
  }

  .hamburger-rotate .hamburger-line:last-child {
    transform: rotate(45deg) translate(4px, 0px);
  }
  .header-text-and-button h1 {
    width: 100%;
  }

  .header-text-and-button p {
    width: 140%;
  }

  .graphic-image {
    height: 33vh;
  }

  .features-image img {
    width: 100%;
  }

  .features-text {
    margin: 0;
    width: 95%;
  }

  .icon-title h3 {
    width: 60%;
  }

  .contents-text {
    width: 90%;
  }

  .card {
    width: 105%;
  }
  .card p {
    padding: 45px 30px;
    width: 130%;
  }

  .card img {
    width: 120%;
  }

  .partners-wrapper {
    margin: 0 auto;
  }

  .partners .partners-logos {
    width: 100%;
  }
  .gallery-text p {
    width: 70%;
  }
  .opentype-text-and-button {
    width: 125%;
  }

  .opentype-image img:first-child {
    display: none;
  }
  .opentype-image img:last-child {
    display: block;
  }

  .footer-wrapper {
    align-items: flex-start;
    padding: 0 115px;
  }
  .footer-wrapper .about-site {
    flex-direction: column;
  }
  .footer-wrapper .about-site ul {
    padding: 0;
  }
  .footer-wrapper .site-connection {
    align-items: flex-start;
  }
  .footer-wrapper .site-connection .adress,
  .mobile,
  .social-networks {
    margin-left: 0px;
  }
}

@media only screen and (max-width: 400px) {
  .control-panel-text {
    width: 65%;
  }

  .icon-title h3 {
    width: 100%;
  }
  .control-panel-text ul li p {
    width: 125%;
  }
}
