@media only screen and (max-width: 1024px) {
  nav .hamburger-menu,
  .gallery-photo,
  .third-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav ul {
    align-items: center;
    -webkit-box-align: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    height: 100vh;
    justify-content: center;
    left: -70%;
    position: absolute;
    top: 101px;
    -webkit-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    width: 100%;
    z-index: 1;
    margin: 0;
    padding: 0;
  }

  nav ul li {
    font-size: 1.5625rem;
    margin: 20px;
  }

  .slide-out {
    background-color: var(--black);
    left: 0%;
  }

  nav button {
    padding: 13.5px 46px;
  }
  .header-button,
  .images-article,
  .contents-card,
  .testimonials-article,
  .partners .partners-logos,
  .opentype-wrapper,
  .footer-wrapper,
  .gallery-photo,
  .third-row {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .header-button button:last-child {
    margin: 35px 0 0 0;
  }
  .header-text-and-button {
    width: 62%;
  }

  .header-text-and-button h1 {
    font-size: 3.25rem;
    font-weight: 400;
    line-height: 3.875rem;
  }

  .graphic-image {
    height: 55vh;
  }

  .features-image {
    width: 100%;
  }
  .images-article {
    align-items: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .control-panel-text {
    width: 49%;
  }
  .control-panel-text ul {
    padding: 0;
  }

  .contents-text {
    width: 60%;
  }

  .card {
    width: 100%;
  }

  .first-row,
  .second-row,
  .testimonials .first-column,
  .second-column {
    display: none;
  }

  .testimonials .third-column {
    display: block;
  }
  .testimonials .third-column,
  .article-card {
    height: 100%;
    width: 100%;
  }

  .partners .partners-logos {
    width: 70%;
  }

  .partners .logos-first-row {
    margin-bottom: 50px;
  }
  .ibm-logo img {
    width: 100px;
  }

  .features-image img {
    width: 100%;
  }

  .features-text {
    width: 52%;
  }
  .opentype-wrapper {
    border-radius: 0;
    width: 100%;
  }

  .opentype-text-and-button h2 {
    text-align: center;
  }
  .opentype-text-and-button {
    padding: 86px;
    text-align: center;
    width: 75%;
  }

  .footer-wrapper {
    align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
  }
}

@media only screen and (max-width: 750px) {
  .control-panel-text {
    width: 65%;
  }
}

@media only screen and (max-width: 600px) {
  nav button {
    padding: 13.5px 46px;
  }

  .hamburger-menu {
    height: 27px;
    width: 44px;
  }

  .hamburger-line:nth-child(2) {
    width: 75%;
  }
  .hamburger-line:last-child {
    width: 50%;
  }
  .hamburger-rotate .hamburger-line:first-child {
    -webkit-transform: rotate(-45deg) translate(-13px, 5px);
    -ms-transform: rotate(-45deg) translate(-13px, 5px);
    transform: rotate(-45deg) translate(-13px, 5px);
  }

  .hamburger-rotate .hamburger-line:last-child {
    -webkit-transform: rotate(45deg) translate(-7px, 0px);
    -ms-transform: rotate(45deg) translate(-7px, 0px);
    transform: rotate(45deg) translate(-7px, 0px);
  }
  .header-text-and-button h1 {
    width: 100%;
  }

  .header-text-and-button p {
    width: 140%;
  }

  .graphic-image {
    height: 33vh;
  }

  .features-image {
    width: 100%;
  }

  .features-image img {
    -o-object-fit: contain;
    object-fit: contain;
    width: 100%;
  }

  .features-text {
    margin: 0;
    width: 95%;
  }

  .icon-title h3 {
    width: 60%;
  }

  .contents-text {
    width: 90%;
  }

  .card {
    width: 105%;
  }
  .card p {
    padding: 45px 30px;
    width: 130%;
  }

  .card img {
    width: 120%;
  }

  .partners-wrapper {
    margin: 0 auto;
  }

  .partners .partners-logos {
    width: 100%;
  }
  .gallery-text p {
    width: 70%;
  }
  .opentype-text-and-button {
    width: 125%;
  }

  .opentype-image img:first-child {
    display: none;
  }
  .opentype-image img:last-child {
    display: block;
    width: 100%;
  }

  .footer-wrapper {
    align-items: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    padding: 0 115px;
  }
  .footer-wrapper .about-site {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .footer-wrapper .about-site ul {
    padding: 0;
  }
  .footer-wrapper .site-connection {
    align-items: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
  }
  .footer-wrapper .site-connection .adress,
  .mobile,
  .social-networks {
    margin-left: 0px;
  }
}

@media only screen and (max-width: 420px) {
  nav .logo {
    width: 40%;
  }
  nav ul {
    top: 84px;
  }

  .hamburger-rotate .hamburger-line:first-child {
    transform: rotate(-45deg) translate(-8px, 0px);
  }
  .logo img {
    width: 80%;
  }

  .hamburger-menu {
    height: 15px;
    width: 22px;
  }
  nav button {
    padding: 6.5px 30px;
  }
  .header-text-and-button h1 {
    width: 115%;
  }
  .features-text {
    width: 85%;
  }
  .control-panel-text {
    width: 65%;
  }

  .icon-title h3 {
    width: 100%;
  }
  .control-panel-text ul li p {
    width: 125%;
  }
  .card {
    width: 100%;
  }

  .card button {
    padding: 7.5px 36px;
  }

  .third-row {
    width: 75%;
  }

  .partners-wrapper {
    padding: 0;
  }
  .partners-text {
    width: 70%;
  }

  .opentype-text-and-button button {
    padding: 13.5px 43px;
  }
  h1,
  h2 {
    font-size: 1.7rem;
  }
  p,
  h3 {
    font-size: 1rem;
  }
}
