.testimonials {
  margin: 0 auto;
  max-width: 1400px;
  padding: 50px;
}

.testimonials-wrapper {
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
}

.testimonials-article {
  align-items: flex-start;
  -webkit-box-align: start;
  -webkit-box-pack: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  -ms-flex-pack: center;
  justify-content: center;
}

.name-job {
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}

.photo-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.photo-info img {
  margin-right: 13px;
  -o-object-fit: contain;
  object-fit: contain;
}

.photo-info span {
  margin: 0 10px;
}

.article-card {
  border: 1px solid var(--testimonials-border);
  border-radius: 10px;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 20px;
  padding: 40px;
}

.article-card span {
  font-weight: 500;
}

.article-card p {
  font-family: "Roboto", "Graphik", sans-serif;
  text-align: left;
}

.first-column,
.second-column,
.third-column {
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 23px;
  width: 30%;
}

.third-column {
  display: none;
}
.testimonials h2.visible,
.first-column.visible,
.second-column.visible,
.third-column.visible {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px);
}
